body{
    background-color:	#99aab5 ;
    text-align: center;
}

h1{
    font-size: 50px;
    color: black;
}
h4{
    font-size: 23px;
    color: black;
}

.fa-sun, .fa-power-off, .fa-backward{
    font-size: 100px;
}

.button{
    margin: 20px;
    background-color: 	#99aab5;
    color: #395de0;
    border: none;
    border-radius: 30%;
}
.button:hover{
    background-color: #2c2f33;
}