body{
min-height: 800px;
background-color: #e0f7e7;
align-items: center;
justify-content: space-evenly;
display: flex;
flex-wrap: wrap;
}

.box{
height: 160px;
width: 260px;
background-color: navy;
border: solid rgb(51, 51, 51) 3px;
border-radius: 20%;
}

#box-1{
    font-size: 62px;
    background-color: #1877F2;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}

#box-2{
    font-size: 62px;
    background-color: #FF0000;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box-3{
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box-4{
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#box-5{
    font-size: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.a11{
    color: white;
}

.a22{
    color: white;
}

a{
    text-decoration: none;
}