html{
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-height: 1000px;
    max-width: 1000px;  
    border: solid black 3px;
    border-radius: 10%;
}

.box{
    width: 500px;
    height: 200px;
    border: solid black 4px;
    margin: 20px;
    border-radius: 10%;
    font-size: 100px;
    text-align: center;
}

.yt, .fb, .dc{
border-radius: 15%;
font-size: 50px;
background-color: white;
color: black;
border: solid black 4px;
}


.fa-youtube{
    color: red;
}

.fa-facebook{
    color:	#1877F2;
}

.fa-discord{
    color: #5865F2;
}

.fb:hover, .yt:hover, .dc:hover{
    border-radius: 15%;
font-size: 50px;
background-color: black;
color: white;
border: solid white 4px;
}